import libraries

In [1]:
import pandas as pd

data

In [2]:
points_geo = pd.read_csv('df_resolute_CLEANED_4IQR_4PREP.csv')

In [3]:
points_geo.head()

,NAME_LATIN,Area_sqm,PropertyTy,Bedrooms,Bathrooms,Rooms,Levels,PriceEuro,PricePerM2,ModifiedOn,Year,Month,Day,dist_coast,dist_beach,dist_city,oiki_densi,pop_densi
0,D. PAROY_1,80,Maisonette,3,0,0,0,155000,1938.0,2019-04-24,2019,4,Wednesday,0.04026,0.1052,0.42651,0.30435,12853.0
1,D. PAROY_1,2200,Parcel,0,0,0,0,170000,77.0,2019-04-26,2019,4,Friday,0.04026,0.1052,0.42651,0.30435,12853.0
2,D. PAROY_1,220,Detached House,4,3,0,0,250000,1136.0,2019-04-26,2019,4,Friday,0.04026,0.1052,0.42651,0.30435,12853.0
3,D. PAROY_1,91,Detached House,0,0,0,0,170000,1868.0,2019-03-28,2019,3,Thursday,0.04026,0.1052,0.42651,0.30435,12853.0
4,D. PAROY_1,70,Maisonette,2,2,0,0,90000,1286.0,2019-02-18,2019,2,Monday,0.04026,0.1052,0.42651,0.30435,12853.0